pytesseract
pytorch
pyttsx3
numpy 
tensorflow>=1.21.2,<3.11
tarfile
zipfile
time
engineio
matplotlib
opencv
protobuf==3.0.0
Python-tk
Pillow==1.0
lxml
tf-slim
slim
notebook
Matplotlib
Cython
contextlib2
cocoapi